
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Welcome to IG app</h1>
            <p class="lead">Sign up now</p>
            <%= link_to  "Sign Up", new_account_registration_path, class: "btn btn-success" %>
            <%= link_to  "Log In", new_account_session_path, class: "btn btn-primary" %>
        </div>
    </div>
