<div class="row">
    <div class=" col-8">
        <% @posts.each do |post| %>
        <div>
        <%= post.account.username %>
            <%= image_tag post.image.url, class: 'img img-fluid' %>
        </div>
        <% end %>
    </div>
</div>